{% extends "base.html" %}

{% block adjust %}
<div class="ui left floated compact segment">
    <div class="ui toggle checkbox">
        <input type="checkbox">
        <label>选项一</label>
    </div>
    <div class="ui toggle checkbox">
        <input type="checkbox">
        <label>选项一</label>
    </div>
    <div class="ui toggle checkbox">
        <input type="checkbox">
        <label>选项一</label>
    </div>
</div>
<div class="ui left floated compact segment">
        <div class="ui toggle checkbox">
            <input type="checkbox">
            <label>选项一</label>
        </div>
        <div class="ui toggle checkbox">
            <input type="checkbox">
            <label>选项一</label>
        </div>
        <div class="ui toggle checkbox">
            <input type="checkbox">
            <label>选项一</label>
        </div>
    </div>
{% endblock %}