{% extends "base.html" %}

{% block index %}
<div class="ui segment">
    <div class="ui grid">
        
        <div class="twelve wide stretched column">
            <div class="ui two column doubling stackable grid container">
                <div>
                    <img src="video_feed" width="640" height="480">
                </div>
                <table class="ui collapsing table">
                    <tr>
                    <thead>
                        <th width="100px">历史信息</th>
                        <th width="50px">时间</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>无异常</td>
                            <td>2019.1.3</td>
                        </tr>
                        <tr>
                            <td>无异常</td>
                            <td>2019.1.4</td>
                        </tr>
                        <tr>
                            <td>无异常</td>
                            <td>2019.1.4</td>
                        </tr>
                        <tr>
                            <td>无异常</td>
                            <td>2019.1.4</td>
                        </tr>
                    </tbody>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}